In [ ]:
import pandas as pd
import numpy as np
import empyrical

In [124]:
df = pd.read_csv("results/tsmom/2023-2024/captured_returns_sw.csv")

In [125]:
df

       Unnamed: 0 identifier        time   returns  position  captured_returns
0               0        ADM  2023-01-03 -0.019575       1.0         -0.019575
1               1        ADM  2023-01-04 -0.012831       1.0         -0.012831
2               2        ADM  2023-01-05  0.010386       1.0          0.010386
3               3        ADM  2023-01-06 -0.003404       1.0         -0.003404
4               4        ADM  2023-01-09  0.005160       1.0          0.005160
...           ...        ...         ...       ...       ...               ...
10204       10204        WMT  2023-12-21  0.008528       1.0          0.008528
10205       10205        WMT  2023-12-22 -0.001096       1.0         -0.001096
10206       10206        WMT  2023-12-26  0.006832       1.0          0.006832
10207       10207        WMT  2023-12-27 -0.001438       1.0         -0.001438
10208       10208        WMT  2023-12-28  0.000378       1.0          0.000378

[10209 rows x 6 columns]

In [126]:
num_identifiers = None

if not num_identifiers:
    num_identifiers = len(df.dropna()["identifier"].unique())
srs = df.dropna().groupby('time')["captured_returns"].sum()/num_identifiers

In [127]:
srs

time
2023-01-03   -0.005943
2023-01-04   -0.001204
2023-01-05   -0.002852
2023-01-06   -0.000119
2023-01-09   -0.002175
                ...
2023-12-21    0.000329
2023-12-22    0.001432
2023-12-26    0.000699
2023-12-27   -0.001218
2023-12-28   -0.001197
Name: captured_returns, Length: 249, dtype: float64

In [134]:
empyrical.calmar_ratio(srs)

0.1427990271673798

In [135]:
len(srs[srs > 0.0]) / len(srs)

0.4939759036144578

In [136]:
np.mean(srs[srs > 0.0])/ np.mean(np.abs(srs[srs < 0.0]))

1.0526767595152742